
:root {
    /* Brand Colors */
    --color-background:  #01021E;
    --color-primary: #FF2C2C;
    --color-light: #ABB4E4;

    --font-heading: 'Hand Drawn Shapes','Times New Roman', serif;
    --font-h2: 'Barriecito','Times New Roman', serif;
    --font-h3: 'Beth Ellen','Times New Roman', serif;


    /* Accent Colors (used for multicolor letters, scribbles, etc.) */
    --accent-pink: #f06292;
    --accent-orange: #ff7043;
    --accent-yellow: #ffeb3b;
    --accent-green: #2a9d8f;
    --accent-blue: #1982c4;
    --accent-purple: #6a4c93;
    --accent-red: #e76f51;

    /* UI Specific */
    --button-radius: 12px;
    --shadow-light: 2px 2px 6px rgba(0,0,0,0.1);
}