{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Barriecito|Beth Ellen|Biryani' rel='stylesheet' type='text/css'>
    <title>{% block title %}Flashcards{% endblock %}</title>

    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'shared/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'shared/css/variables.css' %}">
      {% block global_css %}{% endblock %}
</head>
<body>
    {% block global_content %}{% endblock %}
</body>
</html>